html{
    background-image: url(assets/imgs/kitchen-and-cooking-background.png) ;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

li{
    padding: 5px;
}

.encabezado{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.encabezado h1 {
    font-family: sans-serif;
    text-shadow: 5px 5px 10px rgba(0, 88, 99, 0.8);
    color: #005863;    
    background-color: rgb(255, 255, 255,0.6) ;
    border-radius: 20px;
}

.logo-img{
    width: 50px;
    height: auto;    
    background-color: rgb(255, 255, 255,0.6) ;
    border-radius: 20px;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.indice{
    background-color: rgba(0, 88, 99, 0.9);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    align-self: flex-start;
}

.indice a{
    text-decoration: none;
    color: inherit;
}

.recetario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.receta{
    background-color: rgba(0, 88, 99, 0.9);
    border-radius: 20px;
    align-self: center;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receta h2,h3{
    font-family: Cursive;
}
.receta img{
    width: max-content;
    height: 300px; 
    border-radius: 20px;
    margin-top: 20px;
}

.receta-titulo{
    list-style-type: none;
}


.receta-tiempoEleboracion{
    padding: 10px;
    background-color: rgba(99, 11, 0,0.9);
    border-radius: 20px;
    width: fit-content;
}


.receta-tablaNutricional table{
    border-collapse: collapse;
}

.receta-tablaNutricional th, td {
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.receta-tablaNutricional thead>tr>td{
    font-weight: bold;
}

.receta-tablaNutricional td:first-child {
    font-weight: bold;
}

aside{
    background-color: rgba(0, 88, 99, 0.9);
    margin: 10px;
    border-radius: 20px;
    align-self: flex-start;
}

aside h3{
    text-align: center;
}


aside a{
    text-decoration: none;
    color: inherit;
}

aside a:hover {
    text-decoration: underline;
    color: #630b00;
}



footer{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    text-decoration: underline;
    color: red;
}